<section class="about-us my-5">
  <div class="container">
    <h2 class="text-center mb-4">About The Jungle</h2>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'gardener.jpeg', alt: 'About Image', class: 'img-fluid' %>
      </div>
      <div class="col-md-6">
        <h3>Welcome to The Jungle</h3>
        <p>Hey there! Welcome to Jungle, your go-to place for an incredible variety of plants that bring life to every corner of your home and office. We're more than just a plant store; we're a community of passionate green thumbs and nature lovers.</p>
        <p>Our story began with a simple love for plants. As kids, we'd spend hours in the garden, marveling at the diverse colors and shapes of leaves and flowers. It wasn't just a hobby; it was a way of connecting with nature. This fascination grew into a profound appreciation for the peace and joy plants bring into our lives.</p>
        <p>We realized that in the hustle and bustle of daily life, everyone could use a little bit of green. That's why we decided to turn our passion into Jungle - a place where fellow plant lovers can find everything they need to create their own green oasis.</p>
        <p>At Jungle, we believe that there's a plant for everyone. Whether you're a seasoned gardener or just starting, we're here to help you find the perfect plant that matches your lifestyle and space. From lush ferns that thrive in shady corners to vibrant succulents that love the sun, we've got it all!</p>
        <p><strong>So, why wait? Dive into our green world at Jungle, and let's grow together. Because life is better with plants!</strong></p>
      </div>
    </div>
  </div>
</section>

